@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation-magic {
    @apply magic-magic animate-iteration-2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btnHover:hover {
  background: #52616a !important;
  color: #fff !important;
}
